@import 'open-color/open-color.css';
:root {
  --oc-white: #ffffff;
}

.timetable {
  /*border: 1px solid var(--oc-gray-7);*/
  background: var(--oc-red-8);
}

.timetable__time {
  width: 10%;
  color: var(--oc-white);
  background: var(--oc-red-7);
}

.timetable__time-item {
  padding: 0 10px;
  height: 50px;
}

.my-grid {
  composes: my-grid from 'STYLES/layout.css';
}

.dp-tbl {
  composes: dp-tbl from 'STYLES/layout.css';
}

.dp-tbl-cel {
  composes: dp-tbl-cel from 'STYLES/layout.css';
}

.va-middle {
  vertical-align: middle;
}

.va-top{
  vertical-align: top;
}

.va-bottom{
  vertical-align: bottom;
}

.dp-tbl-row {
  composes: dp-tbl-row from 'STYLES/layout.css';
}

.grid {
  lost-utility: clearfix;
  lost-center: 100%;
  background: var(--oc-red-7);
}

.col {
  lost-column: 1/8 0 0;
  /*lost-column: 300/950 0 20px;*/
  text-align: center;
  background: var(--oc-red-8);
  &.title {
    color: var(--oc-white);
    background: var(--oc-red-7);
  }
}

.col>div {
  padding: 30px;
}

.grid-item {
  background: #ccc;
}

.resize-drag {
  background-color: #29e;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 8px;
  padding: 20px;
  margin: 30px 20px;
  width: 120px;
  /* This makes things *much* easier */
  box-sizing: border-box;
}

.resize-container {
  width: 100%;
  height: 240px;
}

#outer-dropzone {
  height: 140px;
}

#inner-dropzone {
  height: 80px;
}

.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;
  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}
