.my-validator-message{
  font-size: 12px;
}
.my-validator-message.my-validator-message--error{
	color: #FF561D;
}
.my-validator-message.my-validator-message--success{
	color: #3c763d;
}
.my-validator-message.my-validator-message--warning{
	color: #8a6d3b;
}